*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: linear-gradient(to right,rgb(255, 0, 255), rgb(241, 232, 232));
}


.container{
    overflow: hidden;
    text-align: center;
    width: 900px;
    height: 500px;
    margin-top: 70px;
    border-radius: 15px;
}

.sec-1{
    color: white;
    margin-top: 170px;
}

.sec-2{
    display: inline;
    margin-top: 50px;
    padding: 30px;
    margin-right: 50%;
}

.sec-2 h1{
    padding-left: 20px;
    text-align: left;
    font-weight: bolder;
}

.sec-2 input{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 20px;
    width: 380px;
    border-radius: 0%;
    margin-left: 20px;
    margin-top: 20px;
    transition: .3s ease-in-out;
}

.sec-2 input:focus{
    box-shadow: none;
    border-color: rgb(255, 0, 255);
}
.sec-2 button{
    width: 380px;
    height: 40px;
    letter-spacing: 2px;
    margin-top: 10px;
    color: white;
    background: linear-gradient(to right,rgb(255, 0, 255), rgb(49, 45, 45));
}

.sec-2 button:hover{
    background: linear-gradient(to left,rgb(255, 0, 255), rgb(49, 45, 45));
}

.sec-2 p{
    margin-top: 10px;
}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 150px;
    font-style: italic;
}

.one{
    background: linear-gradient(to left,rgb(151, 5, 151), rgb(53, 48, 48));
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 500px;
}

.two{
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 500px;
    padding-top: 50px;
}